*
  margin 0
  padding 0

body
  font-family 'Damion', cursive
  font-size 2em

.yo
  font-family 'Sue Ellen Francisco', cursive 
  font-family 'Sunshiney', arial, cursive 

.pointer
  cursor pointer

input[type=submit]
  padding: 5px
  font-size 1.5em

input[type=text]
  font-size 1.5em
  width 50%


.red
  color #AA0000

.blue
  color #0000AA

.no-quiero
  margin-bottom 30px
